body{
    font-family: "iceland", sans-serif;
    background-color: #00171F;
    color: white;
    box-sizing: border-box;
    
}
.body{
    margin-left: 150px;
    margin-right: 150px;
}
.mobile-navbar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #00171F;
    box-shadow: 0px 0px 2px 0px #FEA609 ;
    height: 100px;
}
.menu-icon {
    display: none;
    color: white;
    cursor: pointer;
    font-size: 1.5em;
}

.mobile-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.mobile-menu li {
    margin-right: 15px;
}

.mobile-menu a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}
.logo{
    color: white;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.logo span{
    color:#FEA609;

}

.active{
    color:#FEA609;
}

button{
    width: 105px;
    height: 35px;
    border-radius: 10px;
    background:#00171F;
    color: white;
    font-size: 10px;
    border: solid #FEA609;
}
.main-div{
    display: flex;
   
}
.main-div img{
    height: 530px;
}
.left-p1{
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.left-p2{
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.social{
    width: 200px;
    display: flex;
    justify-content: space-between;

}
.social img{
    width: 20px;
    height: 20px;
}

/* ABOUT ME SECTION */

.about-div{
    height: 540px;
    color: white;
    padding-top: 50px;
}
.about-img-div img{
    width: 400px;
    height: 459px;
    border-radius: 40px;
}
.about-body-div{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.about-content-div{
    padding-left: 50px;
}
.about-content-div h2{
    color: #FEA609;
}
.about-p1{
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.about-p2{
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.vl {
    border-left: 1px solid white;
    height: 110px;
}
.experience{
    display: flex;
    justify-content: space-between;
}
.experience h3{
    color: #FEA609;
    font-size: 25px;
}
.clients{
    text-align: center;
}
.clent-p{
    color: #FEA609;
}

/* skills section */

.skills-div h1{
    padding: 10px;
    color: #FEA609;
    font-size: 50px;
}
.skills-body{
    display: flex;
}
.skills{
    display: flex;
    justify-content: space-between;
   flex-wrap: wrap;
}
.skill-design{
    display: flex;
    align-items: center;
    gap: 10px;
}
.right-skills{
    display: grid;
    gap: 10px;
}

.html{
    width: 500px;
    height: 30px;
    background-color: white;
    color: #00171F;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    font-weight: bold;
}
.html5{
    width: 350px;
    height: 30px;
    background-color: #E77E23;
}
.html5-cont{
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #BD4C00;
}
.css3{
    width: 240px;
    height: 30px;
    background-color: #3598DB;
}
.css3-cont{
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #2673A7;
}
.jquery{
    width: 220px;
    height: 30px;
    background-color: #2D3E50;
}
.jquery-cont{
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #283848;
}
.php{
    width: 180px;
    height: 30px;
    background-color: #5A68A5;
}
.php-cont{
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3F4055;
}
.wordpress{
    width: 400px;
    height: 30px;
    background-color: #525252;
}
.wordpress-cont{
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #2F2F2F;
}
.seo{
    width: 600px;
    height: 30px;
    background-color: #2ECD71;
}
.seo-cont{
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #239C55;
}
.seo p{
    float: right;
    margin-top: -23px;
    
}
.ps{
    width: 300px;
    height: 30px;
    background-color: #4288D0;
}
.ps-cont{
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #11457E;
}
.skill{
    color: #FEA609;
    margin-top: 10px;
    background-color: #1E1C1C;
    width: 313px;
}
.skill img{
    width: 313px;
    height: 134px;
}

/* blog section */

.blog-div{
    
    margin-top: -35px;
}

.blog-body h1{
    padding: 10px;
    color: #FEA609;
    font-size: 50px;
}
.blogs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blog{
    width: 300px;
    background:#00171F;
    border:  1px solid white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.blog h4{
    color: #FEA609;
}
.blog h4, h5, p{
    padding-left: 10px;
}
.blog img{
    width: 300px;
    height: 153px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.blog-footer{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}
.like{
    text-align: center;
}
.blog-btn{
    margin-top: 5px;
    float: right;
}

/* comment section */

.comments{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.comment{
    width: 290px;
    padding: 05px;
    border-radius: 35px;
    background-color:#00171F;
    border: 1px solid white;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: first-baseline;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;

}
.top h1{
    font-size: 70px;
    margin-top: -10px;
}
.img img{
    width: 70px;
    height: 77px;
    border-radius: 50px;
}
.checked {
    color: orange;
}

/* contact section */

.contact-div{
    background-color:#00171F;
    border: 1px solid #FEA609;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color:white;
    position: relative;
}
.val {
    border-left: 2px solid white;
    height: 110px;
}
.val1 {
    border-left: 2px solid white;
    height: 70px;
}
.verticle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10px;
}

/* footer */

.footer{
    border: 1px solid;
    margin-top: -60px;
    min-height: 290px;
}
.footer-body{
    padding-top: 180px;
    color: #FEA609;
    text-align: center;
    margin-right: 150px;
    margin-left: 150px;
}
.social-footer{
    
    display: flex;
   justify-content: center;

}
.social-footer img{
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

/* ------------------------------------------------------------------------------------- */

/* --------------------------- ABOUT US PAGE------------------------------------------- */
.about-header-div{
    /* background-image: url('images/bg/2.jpg'); */
    background-color: #1E1C1C;
    background-position: fixed;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    
   
}
.header-body-div h1{
    text-align: center;
     color: #FEA609;
}

.aboutme-content-div{
    margin-left: 150px;
    margin-right: 150px;
}
.aboutme-content-bg{
    height:150px;
}
.aboutme-content-bg > p{
    padding: 20px;
}


/* ------------------------------------------------------------------------------------- */

/* --------------------------- BLOGS PAGE------------------------------------------- */

.myblog-div{
    background-image: url('images/bg/6.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    margin-top: -35px;
}
.myblog-body{
    
    margin-left: 150px;
    margin-right: 150px;
}
.myblogs{
    padding-top: 10px;
    padding-bottom: 10px;
}
.blog{
    margin-top: 10px;
}

/* ------------------------------------------------------------------------------------- */

/* --------------------------- lOGIN PAGE------------------------------------------- */

.login-div{
    height: 580px;
    margin-top: 35px;
    color: #00171F;
    
    
}

.login-body{
   background-color: #00171F;

    display: flex;
    margin-bottom: 10px;
    justify-content: center;

}
input{
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    height: 50px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 12px 20px 12px 40px;
    /* border-bottom: 2px solid black */
}
#username{
    background-image: url('images/formicon/User.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 10px 10px;
    background-color: white;
    border: 1px solid white;
    
}
#password{
    background-image: url('images/formicon/File.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 10px 10px;
    background-color: white;
    border: 1px solid white;
}

.login{
    /* background-color: white; */
    margin-top: 30px;
    width: 525px;
    color: white;
    border-radius: 10px;
    
    
} 
.login-img{
    background-image: url('images/5.jpg');
    background-size: cover;
    background-position: center;background-repeat: no-repeat;
    border: 1px solid #00171F;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 30px;
}
.login-form{
    padding: 50px;
}

.login-form p{
    float: right;
    padding-right: 20px;
}
.login-btn{
    margin-top: 40px;
    padding-left: 80px;
}
.signup a{
    color: #FEA609;
}

/* ------------------------------------------------------------------------------------- */

/* --------------------------- CONTACT  PAGE------------------------------------------- */

.contact-page{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contact-page h1{
    text-align: center;
   
}
.contact-page hr{
    width: 100px;
}
.send-message{
    background-image: url('images/5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    width: 450px;
    color: white;
}
.sign-up{
    background-image: url('images/5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    width: 450px;
    color: white;
}
#email{
    background-image: url('images/formicon/Message.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 10px 10px;
    background-color: white;
    border: 1px solid white;
}
textarea{
    width: 83%;
    background-image: url('images/formicon/Messageopen.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 8px 8px;
    border-radius: 10px;
    padding: 12px 20px 12px 40px;
    color: #00171F;
    background-color: white;
}



/* ------------------------------------------------------------------------------------- */

/* --------------------------- DashBoard  PAGE------------------------------------------- */

.dash-header{
    grid-area: header;
    border: 1px #FEA609 solid;
}
.dash-nav{
    width: 200px;
    grid-area: nav;
    font-size: 20px;
    padding-top: 40px;
    padding-left: 2px;
    background-color: white;
}
.dash-nav i{
    font-size:18px;
    color:#FEA609;
    
}
.dash-nav li{
    list-style: none;
    padding: 15px;
}
.dash-nav li a{
    color:#FEA609 ;
    text-decoration: none;
    font-weight: bold;
}
.dash-active{
    background-color: #00171F;
    
    
}.dash-active li{
    color:white;
}
.dash-body{
    grid-area: body;
    height: 500px;
}
.dashboard{
    display: grid;
    grid-template-areas: 'header header header header header header'
                          'nav body  body body body body';
}
.dash-body textarea{
    width: 92%;
    height: 90px;
    background-image: url('images/formicon/Messageopen.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 8px 8px;
    border-radius: 10px;
    padding: 12px 20px 12px 40px;
    color: #00171F;
    background-color: white;
}
.dash-form{
    display: flex;
    padding-top: 20px;
}
.dash-btn{
    display: flex;
    justify-content: space-between;
}
.dash-btn a{
    color: white;
    text-decoration: none;
}
.dash-right{
    height: auto;
    width: 450px;
    text-align: center;
    padding: 40px;
    font-size: 60px;
    background-image: url('images/10.jpg');
    background-position: center;
    background-size: cover;
    
}