body{
    font-family: "iceland", sans-serif;
    
}
.header-div{
    /* background-image: url('images/bg/2.jpg'); */
    background-color: #925d01fa;
    background-position: fixed;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    height: 588px;
}
.header-body-div{
    margin-left: 150px;
    margin-right: 150px;  
    display: grid;
}
.nav-div{
    display: flex;
    justify-content: space-between;
    background-color: #1E1C1C;
    height: 100px;
    align-items: center;
    flex-shrink: 0;
}
.logo{
    color: white;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.logo span{
    color:#FEA609;

}
.active{
    color:#FEA609;
}
nav a{
    text-decoration: none;
}
nav ul li{
    margin-left: 20px;
    color: white;
}
nav ul{
    display: flex;
    list-style: none;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}
button{
    width: 105px;
    height: 35px;
    border-radius: 10px;
    background: #090C5C;
    color: white;
    font-size: 10px;
    border: solid #090C5C;
}
.main-div{
    display: flex;
    gap: 50px;
}
.main-div img{
    height: 530px;
}
.left-p1{
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.left-p2{
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.social{
    width: 200px;
    display: flex;
    justify-content: space-between;

}
.social img{
    width: 20px;
    height: 20px;
}

/* ABOUT ME SECTION */

.about-div{
    
    background-image: url('images/bg/5.jpg');
    height: 540px;
    color: white;
    padding-top: 50px;
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
}
.about-img-div img{
    width: 460px;
    height: 509px;
    border-radius: 40px;
}
.about-body-div{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}
.about-content-div{
    padding-left: 50px;
}
.about-content-div h2{
    color: #FEA609;
}
.about-p1{
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.about-p2{
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.vl {
    border-left: 1px solid white;
    height: 110px;
}
.experience{
    display: flex;
    justify-content: space-between;
}
.experience h3{
    color: #FEA609;
    font-size: 25px;
}
.clients{
    text-align: center;
}
.clent-p{
    color: #FEA609;
}

/* skills section */

.skills-div{
    /* background-image: url('images/bg/2.jpg'); */
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    margin-top: -35px;
    background-color: rgb(214, 203, 203);
}
.skills-div h1{
    padding: 10px;
    color: #FEA609;
    font-size: 50px;
}
.skills-body{
   
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
}
.skills{
    display: flex;
    justify-content: space-between;
   flex-wrap: wrap;
}
.skill-design{
    display: flex;
    align-items: center;
    gap: 10px;
}
.right-skills{
    display: grid;
    gap: 10px;
}

.html{
    width: 500px;
    height: 30px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    font-weight: bold;
}
.html5{
    width: 350px;
    height: 30px;
    background-color: #E77E23;
}
.html5-cont{
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #BD4C00;
}
.css3{
    width: 240px;
    height: 30px;
    background-color: #3598DB;
}
.css3-cont{
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #2673A7;
}
.jquery{
    width: 220px;
    height: 30px;
    background-color: #2D3E50;
}
.jquery-cont{
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #283848;
}
.php{
    width: 180px;
    height: 30px;
    background-color: #5A68A5;
}
.php-cont{
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3F4055;
}
.wordpress{
    width: 400px;
    height: 30px;
    background-color: #525252;
}
.wordpress-cont{
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #2F2F2F;
}
.seo{
    width: 600px;
    height: 30px;
    background-color: #2ECD71;
}
.seo-cont{
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #239C55;
}
.seo p{
    float: right;
    margin-top: -23px;
    
}
.ps{
    width: 300px;
    height: 30px;
    background-color: #4288D0;
}
.ps-cont{
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #11457E;
}
.skill{
    color: #FEA609;
    margin-top: 10px;
    background-color: #1E1C1C;
    width: 313px;
}
.skill img{
    width: 313px;
    height: 134px;
}

/* blog section */

.blog-div{
    background-image: url('images/bg/6.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 580px;
    margin-top: -35px;
}
.blog-body{
    
    margin-left: 150px;
    margin-right: 150px;
}
.blog-body h1{
    padding: 10px;
    color: #FEA609;
    font-size: 50px;
}
.blogs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blog{
    width: 300px;
    background: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.blog h4{
    color: #FEA609;
}
.blog h4, h5, p{
    padding-left: 10px;
}
.blog img{
    width: 300px;
    height: 153px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.blog-footer{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}
.like{
    text-align: center;
}
.blog-btn{
    margin-top: 5px;
    float: right;
}

/* comment section */

.comment-div{
    margin-left: 150px;
    margin-right: 150px;
}

.comments{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.comment-bg{
    height:450px;
}
.comment{
    width: 290px;
    height: 310px;
    padding: 05px;
    border-radius: 35px;
    background-color: #D9D9D9;;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: first-baseline;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;

}
.top h1{
    font-size: 70px;
    margin-top: -10px;
}
.img img{
    width: 70px;
    height: 77px;
    border-radius: 50px;
}
.checked {
    color: orange;
}

/* contact section */

.contact-div{
    margin-left: 150px;
    margin-right: 150px;
    background-color: black;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: white;
    position: relative;
}
.val {
    border-left: 2px solid white;
    height: 110px;
}
.val1 {
    border-left: 2px solid white;
    height: 70px;
}
.verticle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10px;
}

/* footer */

.footer{
    background-image: url('images/bg/2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -100px;
    height: 290px;
}
.footer-body{
    padding-top: 180px;
    color: #FEA609;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}
.social-footer{
    
    display: flex;
   justify-content: center;

}
.social-footer img{
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

/* ------------------------------------------------------------------------------------- */

/* --------------------------- ABOUT US PAGE------------------------------------------- */
.about-header-div{
    /* background-image: url('images/bg/2.jpg'); */
    background-color: #1E1C1C;
    background-position: fixed;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    
   
}
.header-body-div h1{
    text-align: center;
     color: #FEA609;
}

.aboutme-content-div{
    margin-left: 150px;
    margin-right: 150px;
}
.aboutme-content-bg{
    height:150px;
}
.aboutme-content-bg > p{
    padding: 20px;
}


/* ------------------------------------------------------------------------------------- */

/* --------------------------- BLOGS PAGE------------------------------------------- */

.myblog-div{
    background-image: url('images/bg/6.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    margin-top: -35px;
}
.myblog-body{
    
    margin-left: 150px;
    margin-right: 150px;
}
.myblogs{
    padding-top: 10px;
    padding-bottom: 10px;
}
.blog{
    margin-top: 10px;
}

/* ------------------------------------------------------------------------------------- */

/* --------------------------- lOGIN PAGE------------------------------------------- */

.login-div{
    background-image: url('images/bg/7.jpg');
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    margin-top: -35px;
    background-color: rgb(214, 203, 203);
}
.skills-div h1{
    padding: 10px;
    color: #FEA609;
    font-size: 50px;
}
.login-body{
   
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    margin-bottom: 10px;
}
input{
    width: 80%;
    background: none;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black
}
.login{
    margin-left: 150px;
    margin-top: 30px;
    width: 525px;
    height: 500px;
    background-color: white;
    border-radius: 50px;
    
}
.login-form{
    padding: 50px;
}
.login-img img {
    width: 525px;
    height: 200px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}
.login-form p{
    float: right;
    padding-right: 20px;
}
.login-btn{
    margin-top: 40px;
    padding-left: 80px;
}