@media (max-width: 1024px){

    .logo{
        font-size: 30px;
    }
    .main-div{
        display: flex;
        justify-content: space-around;
       
    }
    .left-p1{
        font-size: 30px;
    }
    .left-p2{
        font-size: 25px;
    }
    .right-image img{
        width: 350px;
        height: 450px;
    }
    .about-img-div img{
        width: 360px;
        height: 409px;
    }
    .about-p1{
        font-size: 25px;
    }
    .about-p2{
        font-size: 20px;
    }
    .skills-body{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .left-skills, .right-skills {
        width: 80%;
    }
    .skill-design{
        width: 100%;
    }
    .html{
        width: 70%;
    }
    .blog{
        width: 220px;
    }
    .blog img{
        width: 220px;
    }
    .comment{
        font-size: 12px;
        width: 210px;
        height: 270px;
    }
}
@media (max-width: 952px){
    .body{
        margin-left: 100px;
        margin-right: 100px;
        
    }
    nav ul {
        font-size: 15px;
    }
    button{
        width: 85px;
        height: 35px;
        font-size: 09px;
    }
    .main-div{
        display: flex;
        justify-content: space-around;  
    }
    .right-image img{
        width: 300px;
    }
    .left-p1{
        font-size: 25px;
    }
    .left-p2{
        font-size: 20px;
    }
    
    .blogs{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
    }
    .blog{
        width: 200px;
    }
    .blog img{
        width: 200px;
    }
    
    .contact-page{
        flex-wrap: wrap;
    }
    
   .dash-right{
    width: auto;
   }
}
@media (max-width: 858px){
    
    .body{
        margin-left: 20px;
        margin-right: 20px;
    }
    .menu-icon {
        display: block;
    }

    .mobile-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 94%;
        top: 100px;
        right: 12px;
        background-color: #00171F;
        opacity: 97%;
        box-shadow: 0px 0px 2px 0px #FEA609 ;
    }

    .mobile-menu.show {
        display: flex;
        flex-wrap: wrap;
    }

    .mobile-menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .main-div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;   
    }
    .blogs{
        display: flex;
        flex-wrap: wrap;
    }
    .blog{
        width: 200px;
    }
    .blog img{
        width: 200px;
    }
    .skills-body{
        display: flex;
        flex-wrap: wrap;
        justify-content:flex-start;
    }
    .right-skills{
        width: auto;
    }
    .contact-div{
        display: flex;
        flex-wrap: wrap;
    }
    .address{
        width: 100%;
    }
    .comment{
        height: 310px;
    }
    .left-content{
        width: 90%;
    }
    .about-body-div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .login-div{
        padding-bottom: 10px;
     }
    .footer-body{
        margin-right: 20px;
        margin-left: 20px;
    }
    .footer-body h1{
        font-size: 20px;
    }
    .contact-page{
        flex-wrap: wrap;
    }
    .send-messege{
        width: 250px;
    }
    .dashboard{
        flex-wrap: wrap;
    }
    .dash-nav{
        width: 100%;
        font-size: 13px;
        display: flex;
        flex-wrap: wrap;
        height: 100px;
    }
    .dash-nav li a{
        display: grid;
        align-self: center;
    }
    .profile{
        display: flex;
        align-items:end;
    }
    .avatar  img{
        background-color: white;
        width: 40px;
        height:40px;
        border-radius: 50px;
        border: #00171F solid 1px;
      }
    .dash-nav-footer{
       display: flex;
       justify-content: space-around;
       height: 50px;
       position: absolute;
       right: 0px;
       top: 0px;
       padding: 5px;
        
    }
    .dash-form{
        flex-wrap: wrap;
    }
    
    .dash-nav li img{
        width: 15px;
        height: 15px;
    }
    .dash-right{
        align-items: center;
        height: 15px;
        width: 300px;
        font-size: smaller;
    }
    .dash-main{
        width: 100%;
        flex-wrap: wrap;
    }
    .profile-section{
        width: 100%;
    }
    .stats-section{
        width: 100%;
    }
    .user-table{
        padding-left: 0px;
    }
    .settings-section{
        padding-left: 0px;
    }
}
@media (max-width: 425px){
    .body{
        margin-left: 10px;
        margin-right: 10px;
    }
    .menu-icon {
        display: block;
    }
    .mobile-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 94%;
        top: 100px;
        right: 12px;
        background-color: #00171F;
        opacity: 97%;
        box-shadow: 0px 0px 2px 0px #FEA609 ;
    }

    .mobile-menu.show {
        display: flex;
        flex-wrap: wrap;
    }

    .mobile-menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .main-div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; 
    }
    .html{
        width: 60%;
    }
    .comment{
        width: 100px;
        height: 360px;
    }
    .top h1{
        font-size: 30px;
        margin-top: -10px;
    }
    .img img{
        width: 50px;
        height: 57px;
        border-radius: 50px;
    }

    
}

